<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <title>Vue.js App</title>
</head>

<body>
  <div id="app">
    <section>
      <p>{{message1}}</p>
      <input v-model="message1">
      <p>{{message2.value}}</p>
      <p>{{message2.value.length}}</p>
      <p>{{list[2]}}</p>
      <p>{{list[num]}}</p>
      <p>{{1000 + 1}}</p>

      <!-- エラーになる -->
      <!-- <p>{{var foo = message1}}</p> -->

      <!-- 属性では展開されない -->
      <!-- <input type="text" value="{{message1}}"> -->
      <!-- バインドする場合は以下 -->
      <input type="text" v-bind:value='message1' v-bind:hoge='message1'>
      <!-- 省略形 -->
      <input type="text" :value='message1'>

      <!-- v-bindの修飾子 -->
      <div v-bind:text-content.prop='message1'>
      </div>
      <div v-bind:scroll-top.prop='scroll'>
      </div>
    </section>
  </div>
  <div id="app2">
    <p>{{count}}回クリックした！</p>
    <button v-on:click="increment">カウントを増やす</button>

    <!-- classとsytleのデータバインディング -->
    <!-- いい感じにマージされる -->
    <p class="child hoge" v-bind:class="{child: isChild, 'is-active': isActive}">おなかすいた</p>
    <p style="color:blue;" v-bind:style="{color: textColor, backgroundColor: bgColor}">ねむい</p>

    <!-- 三項演算子を使う -->
    <p v-bind:class="[isActive ? 'active' : 'noActive', 'otherClass']">ほげほげ</p>
  </div>

  <div id="app3">
    <!-- styleとclassをオブジェクトで渡す例 -->
    <p v-bind:class="classObject">ジャックダニエル</p>
    <p v-bind:style="styleObject">シーバスリーガル</p>

    <!-- まとめてバインドする場合 -->
    <img v-bind='item'>

    <!-- バインド後、idのみ編集をしている -->
    <img v-bind='item' v-bind:id="'thumb-' + item.id">
  </div>

  <!-- SVGのデータバインド -->
  <div id="app4">
    <svg xmlns="http://www.w3.org/2000/svg" version='1.1'>
      <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink"></circle>
    </svg>
    <input type="range" min="0" max="100" v-model="radius">
  </div>

  <!-- テンプレートの条件分岐 -->
  <!-- v-if:DOMレベルで削除される -->
  <!-- v-show:「display:none」になる -->
  <div id="app5" v-cloak>
    <div v-if="ok" key="content-visible">
      v-if条件分岐 true
    </div>
    <div v-else-if='ok===false'>
      焼き肉
    </div>
    <div v-else>
      false
    </div>
    <div v-show="ok">v-showによる表示</div>

    <!-- ２つのdivが違う要素だと明示的にする -->
    <!-- keyをつける -->
    <div v-if='loaded' key='content-visible'>content</div>
    <div v-else key='content-loding'>loding now...</div>

    <ul>
      <!-- 効率よくバインドさせるために要素にユニークなキーは必ず指定する。 -->
      <!-- キーを指定しない場合と、する場合では内部の処理に違いがある。 -->
      <!-- 削除や並び替えも考慮して、リスト内でユニークなキーを指定する。 -->
      <li v-for='item in list' v-bind:key='item.id'>
        ID.{{item.id}} {{item.name}} HP.{{item.hp}}
      </li>
    </ul>

    名前<input v-model="name">
    <button v-on:click='doAdd'>モンスターを追加</button>
    <button v-on:click='doChange'>更新</button>
    <ul>
      <li v-for='item in list' v-bind:key='item.id' v-bind:class="{tuyoi: item.hp > 300}">
        ID.{{item.id}} {{item.name}} HP.{{item.hp}}
      </li>
      <button></button>
    </ul>
    <ul>
      <li v-for="(item, index) in list" v-bind:key="item.id" v-if="item.hp">
        ID.{{item.id}} {{item.name}} HP.{{item.hp}}
        <span v-if="item.hp < 50">瀕死!!</span>
        <button v-on:click="doAttack(index)">攻撃する</button>
      </li>
    </ul>

    <!-- 文字列に対するv-for -->
    <p v-for='item in text'>{{item}}</p>
  </div>

  <div id="app6">
    <p ref="hello">はろー</p>
    <!-- p要素にhalloという名前を付けた -->
  </div>

   <!-- v-cloakはコンパイル前のMustacheなどの表示を防ぐ -->
  <div id="app7" v-cloak>

    <a v-bind:href="url">Hello {{message}}</a>
    <!-- v-pre:コンパイルをスキップ。そのまま出てくる。 -->
    <a v-bind:href="url" v-pre>Hello {{message}}</a>
    <!-- v-pre:初回のみテンプレートを評価し、その後は静的コンテンツになる -->
    <a v-bind:href="url" v-once>Hello {{message}}</a>
    <!-- v-text:探知角Mustacheのみで構成されている場合、代わりにv-textディレクトティブを使ってテキストコンテンツをバインドできる -->
    <a v-bind:href="url" v-text="message"></a>
    <!-- v-html:HTMLタグをそのまま表示させたい場合 -->
    <!-- v-htmlはHTMLタグをそのまま出力させるためXSSに注意する -->
    <a v-html="strongMessage"></a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
